* {
    margin: 0px;
    box-sizing: border-box;

}

h2{
    font-size: 5px;
}

.bold {
    font-weight: bold;
}

div {
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.bg-grey {
    background: #f7f7f7;
}

section>.container {
    margin: auto;
    display: block;
    padding: 30px 50px;
}

section>#certificate {
    width: 100%;
    
}

span {
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
} 
.blue{
    background: #199cdb;
}
.greydd {
    background: #c29a9a67;

}


.circle {
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightblue;
    padding: 10px;
  }
  

/* Navbar */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    display: flex;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 0px 1px 1px #fcf4e3c9;
    padding: 3px 60px;
    font-size: 18px;
    text-align: center;
    height: auto
}

.grid-container a:hover {
    background-color: #ddd;
    color: black;
}



/* Person info */
#personal-info {
    padding-left: 50px;
}

ul {
    list-style-type: none;
}

li {
    padding: 4px
    
}

#target {
    padding-left: 100px;
}

/* img */
img {
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#banner {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
}


/* Grid */
.containera {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 10px;
    justify-content: center;
    gap: 10px 10px;

}


.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.job {
    text-align: left;

}

.column {
    float: left;
    padding: 10px;
    height: auto
}

.equal {
    width: 50%;

}



.container:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

/* Dự án */

.three {
    width: 33.33%;
}

span.b {
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 5px;
}

.wi {
    width: 75%;
    margin: auto;
    display: block;
}

/* footer */
#footer {
    margin-top: 100px;
}

.bottom {
    border-bottom: 1px solid;
    border-color: #d6c08d;

}


#project {
    font-size: 15px;
}


